<nav class="navbar navbar-expand-lg nav-color bg-dark">
  <div class="container-fluid">
    <span routerLink="recent" ><mat-icon aria-label="article icon" class=" navbar-brand icon-home">article</mat-icon></span> 
    <a class="navbar-brand">Awesome News</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <mat-icon aria-label="article icon" class=" navbar-brand icon-home"><span class="material-icons-sharp">
density_medium
</span></mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="recent" class="nav-link " routerLinkActive="active" aria-current="page" href="#">Recent News</a>
        </li>
        <li class="nav-item">
          <a routerLink="toprated" routerLinkActive="active" class="nav-link" href="#">Top Rated</a>
        </li>
        <li class="nav-item">
          <a routerLink="categories" routerLinkActive="active" class="nav-link" href="#">Categories</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>
