//Colors
$red:#FF1818;
$yellow:#FFC300;
$white:#ECECEC;
$blue:#5463FF;

//Colors-category
$fashion:#533E85;
$car:#488FB1;
$science:#03045E;
$technology:#085E7D;
$entertaiment:#874356;
$environment:#6EBF8B;
$finances:#F76E11;
$travel:#6e0439;

//fonts
$main-font:Raleway, sans-serif;